body{
font-family: Helvetica, 'Arial Black',sans-serif;
background-color: #f9c82c;
line-height: 1.5;
padding: 0;
margin: 0;
background-color: #f4f4f4;
}

/* GLOBAL */

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

a{
  text-decoration: none;
  color: #70c8b7;
}
h2{
  padding-top: 30px;
  text-transform: uppercase;
  color: #52c2b6;
  font-family: helvetica;
  font-size: 18px;
  padding-bottom: 30px;
  text-align: center;
}
p{
  font-family: helvetica;
  font-size: 18px;
  text-align: center;
}
#back-to-top{
  float: right;
  margin-top: 33%;
}
#back-to-top img{
  float: right;
  width:80%;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: #3c3b41;
    border-radius: 50%;
    display: inline-block;
    margin-top:  15px;
}
/* The alert message box */
.alert {
    padding: 32px;
    background-color: #f44336;
    opacity: 0.9;
    z-index: 100;
    color: white;
    display: none;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
/* HEADER - NAV*/
header{
  background: #404048;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 10px;
  min-height: 60px;
}
header a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}


header ul{
  margin: 0;
  padding: 0;
}

header li {
  float: left;
  display: inline;
  padding: 0 25px 0 25px;
  font-family: helvetica;
}

header #twinlogo{
  float: left;
margin: 0;
padding:0 0 0 20px;
position: fixed;
z-index: 99;
}

header nav{
  float: right;
  margin-top: 10px;
}
header a:hover {
  color: #70c8b7;
  transition: 0.5s;
}
header a:active {
  color: #70c8b7;
  transition: 0.5s;
}
.active-nav a{
  color:  #70c8b7;
}
.active-nav a:hover{
  color:  #f8c72c;
}
/* Mobile nav groundwork*/

	nav ul {
	  display: flex;
	  flex-direction: column;
	  list-style-type: none;
	  display: none;
	}

	nav ul.opening {
	  display: block;
	  height: 30px;
	}

	nav ul {
	  display: flex;
	  flex-direction: column;
	  list-style-type: none;
	  display: none;
	}

	nav ul.opening {
	  display: block;
	  height: 30px;
	}

	.site-nav--icon {
	  font-size: 1.4em;
	  margin-right: 1em;
	  width: 1.1em;
	  text-align: right;
	  color: rgba(255,255,255,.4);
	}

	.menu-toggle {
	  position: absolute;
	  padding: 0.8em;
	  top: 1em;
	  right: .5em;
	  cursor: pointer;
	  margin-top: 15px;
	}

	.hamburger, .hamburger::before, .hamburger::after {
	  content: '';
	  display: block;
	  background: #f9c82c;
	  height: 3px;
	  width: 2em;
	  border-radius: 3px;
	  -webkit-transition: all ease-in-out 350ms;
	  transition: all ease-in-out 350ms;
	}

	.hamburger::before {
	  -webkit-transform: translateY(-7px);
	  transform: translateY(-7px);
	}

	.hamburger::after {
	  -webkit-transform: translateY(4px);
	  transform: translateY(4px);
	}

	.open .hamburger {
	  -webkit-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	.open .hamburger::before { display: none; }

	.open .hamburger::after {
	  -webkit-transform: translateY(-1px) rotate(-90deg);
	  transform: translateY(-1px) rotate(-90deg);
	}

	@media (min-width: 550px) {

		.menu-toggle { display: none; }

		nav ul {
		  display: flex;
		  flex-direction: row;
		  justify-content: flex-end;
		}

		nav li {
		  flex: 1 1 auto;
		  border: none;
		}

		nav {
		  display: flex;
		  flex-direction: row;
		  justify-content: space-between;
		  text-align: center;
		}

	}


/* HOME WELCOME PAGE DESKTOP*/

#welcome-page{
  text-align: center;
  background-color: #f9c82c;
  background: url('images/welcome2.png');
  /*background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

}

#welcome-page h1{
margin-top: 110px;
font-size: 5.6em;
margin-bottom: 5px;
text-align: center;
font-family: Futura;

}

#welcome-page h3{
font-family: 'helvetica';
line-height: 1.8;
margin-top: -10px;
padding-bottom: 100px;
color: #CE9E32;

}
#welcome-desktop{
	display: inline-block;
}
#welcome-mobile{
	display: none;
}
#welcome-page p{
font-family: Arial;
padding-bottom: 4px;
}

#colorstrip{
    width: 100%; height: 20px;
    margin-bottom: 0px;
    padding-top: 50px;
    color: #025358;
}


#welcome-page p{
  padding-bottom: 140px;
  background-color: #068078;
}

/* HOME DIVING DESKTOP*/
#diving{
  background: url('images/diving3.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  z-index: 100;
  overflow: hidden;
}
#diving img{
  /*margin-bottom: 20px;*/
  /*z-index: 100*/
}

#diving h2{
  padding-top: 40px;
  text-transform: uppercase;
  color: #52c2b6;
  font-family: helvetica;
  background-color: #068078;
  margin-top: 0px;
  height: 60px;
  font-size: 18px;
}
.bubbles{
  margin-top: -59%;
  z-index: 1;
  animation: MoveUpDown 2s linear infinite;
  position: relative;
  width: 100%;
  float: left;
}
@keyframes MoveUpDown {
  0% {bottom: 0;}
  50% {bottom: 17px;}
  100% {bottom: 0;}}

.fishes{
  animation: MoveUpDown 4.4s linear infinite;
  position: relative;
  width: 100%;
  z-index: 2;
  float: left;
}
#diving .fishes-mobile,
#diving .bubbles-mobile,
#diving .bubbles-tablet,
#diving .fishes-tablet{
	display: none;
}
  @keyframes MoveUpDown {
    0% {bottom: 0;}
    50% {bottom: 17px;}
    100% {bottom: 0;}}
/* HOME CLIMBING DESKTOP*/
#climbing {
   /* Old browsers */
  /* background: -moz-linear-gradient(top, #007f76 0%, #4768b1 100%);
  background: -webkit-linear-gradient(top, #007f76 0%,#4768b1 100%);
  background: linear-gradient(to bottom, #007f76 0%,#4768b1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f76', endColorstr='#4768b1',GradientType=0 ); /* IE6-9 */
  background: url('images/climbing.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
#climbing h2{
  padding-top: 80px;
  text-transform: uppercase;
  color: #52c2b6;
  font-family: helvetica;
  font-size: 18px;
  padding-bottom: 30px;
  text-align: center;
}
#quotes {
padding-top: 0px;
  font-family: helvetica;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  text-align: center;
  width: 50%;
  font-weight: 100;
}
/* Slides */
.slideshow-container{
  width: 80%;
  text-align: center;
  padding: 0;
  margin: 0;
}
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}
.mySlides q{
  color: white;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 300%;
  width: auto;
  padding: 16px;
  color: #F9C82C;
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px 0px 0px 3px;
  user-select: none;
  margin-left: -20%;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 32%;
  border-radius: 0px 3px 3px 0px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
      margin-top: -70px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #F9C82C;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.9s ease;
}

/* Add a background color to the active DOT CIRCLE */
.active, .dot:hover {
  background-color: #70c8b7;
}
/* Add a blue color to the author */
.author {color: cornflowerblue;}



/* HOME SKIING DESKTOP */
#skiing{height: 750px;
  background-color: white;
  padding-top: 20px;
  background: url('images/ski.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

#slider {
  width: 70%;
  text-align: center;
  margin-left: 13%;
}
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position:relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: center;

}



/* HOME BIKING DESKTOP*/
#cycle .work-process-mobile{
	display: none;
}
#cycle{height: 280px;  background-color: #F8C72C; text-align: center;
}
#cycle h2{
  padding-top: 30px;
  text-transform: uppercase;
  color: white;
  font-family: helvetica;
  font-size: 18px;
  padding-bottom: 30px;
}
.slick-dots{
	display: none !important;
}
#bike p{
  font-family: helvetica;
  text-transform: uppercase;
  color: white;
}

#bike{height: 700px;
}
#bike{
  background-image: url(images/biking3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #F8C72C;
  background-position: 100% 100%;
  height: 900px;
  margin-bottom: -1px;
}
#bike h2{
  padding-top: 30px;
  text-transform: uppercase;
  color: white;
  font-family: helvetica;
  font-size: 18px;
  padding-bottom: 30px;
}
#belgrade{
  width: 24%;
  float: right;
  padding-top: 50px;
  margin-bottom: 300px;
}
.belgrade{
   animation: MoveUpDown 4s linear infinite;
   position: relative;}
  @keyframes MoveUpDown {
    0% {bottom: 0;}
    50% {bottom: 17px;}
    100% {bottom: 0;}}
.work-process{
  text-align: center;
  display: block;
  width: 80%;
  margin: 0 auto;
}
.work-process div{
  width: 16%;
  display: inline-block;
  padding: 0 2% 0 2%;
  font-family: helvetica;
  text-align: center;
  float: left;
}
.work-process  img{
  width: 150px;
}
.work-process  h4{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 6px;
  font-size: 1.7em;
  margin: 0;
  color: #C2982E;
}
.work-process  p{
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 110%;
  color: #C2982E;
}
.mail:hover{
  -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
          background-image: url(images/contact.png);
}
.mail{
margin-top: 555px;
margin-right: 60px;
float: right;
animation: mymove 5s infinite;
position: relative;

}
@keyframes mymove {
    0%   {left: 35px;}
    25%  {left: 50px;}
    50%  {left: 35px}
    75%  {left: 50px}
    100% {left: 35px;}
}


/* FOOTER DESKTOP*/

footer{
  height: 200px;
  background-color: #404048;

}
footer p{
  margin-top: 60px;
  color: #a8a8a8;
  text-align: center;
  font-family: helvetica;
  font-weight: lighter;
  margin-bottom: 30px;
  line-height: 0;
  font-size: 1em;
}
#footer-social-icons a{
  padding-right: 10px;
  padding-top: 3%;
}
#footer-social-icons{
  padding-right: 50px;
}
#footer-nav{
  padding-top: 2%;
  text-align: center;
}
#footer-nav a{
  text-decoration: none;
  font-size: 16px;
}
#footer-nav ul{
  margin: 0;
  padding: 0;
  text-align: center;
}
#footer-nav li{
  display: inline;
  padding: 0 25px 0 25px;
  font-family: helvetica;
}


.contact-info{
  height: 2200px;
}

/* Portfolio pg DESKTOP*/
.portfolio-P{
  background-color: #f4f4f4/* #ED766B*/;
}

.portfolio-T{
  background-color: #f4f4f4/* #007F76 */;
}
.portfolio-Y{
  background-color: #f4f4f4/* #F9C82C*/;
}

.portfolio-W{
  background-color: #f4f4f4/* #E6E7E8*/;
}
.portfolio-B{
  background-color: #f4f4f4/* #00B2B1*/;
}
.portfolio-G{
  background-color: #f4f4f4/* #404048*/;
}
.portfolio-end{height: 400px;
  background-color: #f4f4f4/* #E6E7E8*/;
}
.portfolio-end p{
  padding-top: 120px;
  font-weight: 100;
}
.portfolio p{
  color: #404048;
  font-size: 95%;
}

.portfolio .container{
 padding-top: 30px; padding-bottom: 0px;
}

.portfolio img{
  width: 90%;
}
.folio-overlay:hover {
    opacity: 0.5;
    transition: 1s;
    -webkit-transition: 1s; /* Safari */
    transition-timing-function: ease-out;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}


.portfolio-page-description{
  width: 100%;

}
.portfolio-page-description p{
  color: #404048;
  font-size: 95%;
  float: right;
  width: 50%;
  text-transform: none;
  font-weight: lighter;
  text-align: left;
  padding-right: 100px;
  padding-bottom: 3%;
  margin-top: -5%;
}
.portfolio-page-description h2{
  color: #404048;
  font-size: 2em;
  float: left;
  font-weight: bold;
  text-transform: none;
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 0;
}
.portfolio-page-description div{
  padding-left: 8%;
}
h6{
  color: #9b9b9b;
  font-size: 95%;
  font-weight: lighter;
  font-family: helvetica;
  margin-top: 7%;
  margin-bottom: 0;
  padding-bottom: 3%;
}
.portfolio-page-image-list img{
  width: 90%;
  text-align: center;
  padding-bottom: 2%;
  border: 0;
  display: block;
  margin: 0 auto;
}
.end-portfolio-other-pages{
  color: #9b9b9b;
  font-size: 95%;
  width: 50%;
  text-transform: none;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 4%;
  padding-top: 2%;
  margin:auto;
}
.end-portfolio-other-pages a{
  color: #404048;
  padding-right: 18px;
  padding-left: 18px;
}
.end-portfolio-other-pages a:hover{
  color: #70c8b7;
  transition: 0.5s
}

/* About pg DESKTOP */

#about{
  background-color: #E2E2E2;
}

#about-intro {
    background-color: white;
      text-align: center;
      z-index: 10;
}
#about-intro{
  padding: 45px 100px 50px 100px;
  margin-top: -8px;
  z-index: 10;
}
#about p{
  text-align: left;
  font-family: helvetica;
  color: #404048;
  font-size: 95%;
  text-transform: none;
  font-weight: lighter;
  text-align: left;
  z-index: 10;
}
#about-footer{
  background-color: #007F76;
}
/*#about-image{
  z-index: 1;
  padding-left: 45%;
  top: 0;
  margin-top: -30%;
  margin-bottom: -1%;
  position: relative;
}
#about-image img{
  width: 140%;
}*/

/* Contact pg DESKTOP*/

#contact{
  background-color: #116E7C;
}
#contact{
  height: auto;

  text-align: center;
}
#contact-email{
  font-family: helvetica;
  font-size: 18px;
  font-style: normal;
  padding: 20px 0px 20px 0px;
  font-size: 10px;
  color: white;
}
#contact-email a{
    color: #B7DEE2;
}

/* 404 pg DESKTOP */
#bad-page{
background: #ef4f23;
height: 100%;
}
#bad-page h1{
font-size: 390%;
padding-top: 14%;
padding-left: 10%;
float: left;
margin: 0;
color: white;
line-height: normal;
}
#bad-page p{
font-size: 100%;
padding-top: 28%;
font-size: 160%;
text-align: left;
padding-left: 10%;
margin: 0;
color: #932c1a;
}
#bad-page a{
  color: white;
}
#bad-page a:hover{
  color: black;
}
#bad-page img{
  height: 60%;
  right:5%;
  position: fixed;
  bottom: 0;
}
#fail-page-nav a{
  float: left;
  display: inline;
  text-decoration: none;
  padding-top: 0;
  padding-right: 4%;
  color: #932c1a;
}
#fail-page-nav p{
  padding-top: 15%;
  margin-top: 0;
  font-size: 103%;
}



/* =====================================MOBILE==================================*/
@media only screen and (max-device-width: 550px){

	header{
		padding-top: 10px;
		padding-bottom: 0;
	}
  .alert {
      display: block;

  }
  #twinlogo{
    position: relative !important;
  }
	/* Mobile Nav Styling */
	.opening{
		margin-top: 49px;
		position: absolute;
		z-index: 22222;
		display: block;
		float: left;
		width: 100%;
		height: auto;
		left: 0;
	}
	.open li{
		width: 100%;
		padding: 15px 0;
		background: #555558;
		border-bottom: 3px solid #f9c82c;
		text-align: center;
	}
	.open li a{
		font-size: 22px;
		font-weight: bold;
    font-family: Helvetica;
    font-weight: 400;
	}
  .menu-toggle{
    margin-top: 7px;
  }

	/* MOBILE Welcome Section */
	/* Swapping out the mobile background image and settings it so it will size with the screen*/
	#welcome-page{
		background-image: url(images/mobile/welcome-mobile.png);
		background-color: #f9c82c;
		background-size: contain;
		background-position: 100% 100%;
		height: 630px;
		position: relative;
	}
	#welcome-page h1{
		margin-top: 30px;
    line-height: normal;
    padding-bottom: 10%;
	}
	/*Adjusting the text to take up the left side of the screen*/
	#welcome-page h3{
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: left;
		line-height: 1.9;
		font-size: 1em;
		color: #B98F2E;
	}
	#welcome-desktop{
		display: none;
	}
	#welcome-mobile{
		display: inline-block;
	}
	/* Hiding the colorstrip on mobile */
	#welcome-page p#colorstrip{
		display: none;
	}

	/* MOBILE Diving Section */
	/* Swapping out for mobile background image */
	#diving{
		background-image: url(images/mobile/diving-mobile.png);
		background-color: #068078;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		height: 800px;
	}
	/* Increasing font size for the word "Diving"*/
	#diving h2{
		font-size: 3.5em;
		line-height: 1;
		padding-bottom: 30px;
		height: auto;
		color: #04665B;
    margin: 0;
	}
	/* Sizing the following words to be have the size of the whole h2 */
	#diving h2 span{
		font-size: .5em;
		width: 100%;
		display: inline-block;
	}
	#diving .container{
		width: 100%;

	}
	/*Hiding the main fish image and displaying the mobile image*/
	#diving .fishes-mobile{
		display: block;
		animation: MoveUpDown 4.4s linear infinite;
		position: relative;
		width: 100%;
	}
	#diving .fishes,
	#diving .bubbles,
	#diving .bubbles-tablet,
	#diving .fishes-tablet{
		display: none;
	}
	#diving .bubbles-mobile{
		display: block;
		margin-top: -130%;
		width: 100%;
		z-index: 1;
		animation: MoveUpDown 2s linear infinite;
		position: relative;
	}

	/* MOBILE Climbing Section */
	/* Swapping out the climbing background image for a gradient */
	#climbing{
		background: #068078; /* Old browsers */
		background: -moz-linear-gradient(top, #068078 3%, #356fea 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #068078 3%,#356fea 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #068078 3%,#356fea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		height: auto;
	}
	/* Needed a second div for the background images so we could have a gradient and the background separate */
	#climbing .mobile-background{
		background-image: url(images/mobile/climbing-mobile.png);
		background-attachment: unset;
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: contain;
		height: 700px;
	}
	#climbing h2{
		font-size: 3.5em;
		line-height: 1;
		padding-bottom: 0;
		padding-top: 0;
		margin-top: 0;
		color: #00616B;
    margin-bottom: 0;
	}
	#climbing h2 span{
		font-size: .5em;
		width: 100%;
		display: inline-block;
	}
	/* Making the quotes smaller and full width */
	#climbing #quotes{
		padding-top: 0;
		width: 100%;
		font-size: 1em;
    width: 80%
	}

	/* MOBILE Ski Section */
	/* Swapping out skiing background image with mobile image */
	#skiing{
		background-color: white;
		background-image: url(images/mobile/skiing-mobile.png);
		background-attachment: unset;
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: contain;
		height: 700px;
	}
	#skiing h2{
		font-size: 3.5em;
		line-height: 1;
		padding-bottom: 0;
		color: #BAD4D8;
    margin-top: 0;
    padding-top: 3%;
	}
	#skiing h2 span{
		font-size: .5em;
		width: 100%;
		display: inline-block;
	}
	/* MOBILE Making adjustments so the slider can be full width */
	#skiing .container{
		width: 100%;
	}
	#skiing #slider{
		width: 100%;
		margin: 0;
	}

	/* MOBILE Cycle Section */
	#cycle{
		background: #414149;
		height: auto;
		position: relative;
		padding-bottom: 10px;
	}
	#cycle h2{
		font-size: 3.6em;
		line-height: 1;
		padding-bottom: 0;
		color: #28292F;
	}
	#cycle h2 span{
		font-size: .5em;
		width: 100%;
		display: inline-block;
	}
	/* Hiding the desktop cycle and displaying the mobile one */
	#cycle .work-process{
		display: none;
	}
	#cycle .work-process-mobile{
		display: block;
		width: 80%;
		margin: 0 auto;
		padding-bottom: 25px;
		font-family: helvetica;
	}
	.work-process-mobile img{
		width: 70%;
		margin: 0 auto;
	}
	/* MOBILE Font size adjustments for the slider */
	.work-process-mobile h4,
	.work-process-mobile p{
		text-align: left;
		color: #fff;
	}
	.work-process-mobile h4{
		font-size: 2.5em;
		margin: 45px 0 5px 0;
		font-weight: 600;
	}
	.work-process-mobile p{
		font-size: 1.3em;
		margin: 0 0 25px 0;
	}

	/* MOBILE Styling the next and previous arrows */
	.work-process-mobile .next{
		position: absolute;
		top: 27%;
		right: -25px;
		font-size: 30px;
		z-index: 111;
	}
	.work-process-mobile .prev{
		position: absolute;
		top: 27%;
		left: -25px;
		font-size: 30px;
		z-index: 111;
	}
	.work-process-mobile .next img,
	.work-process-mobile .prev img{
		width: 45px;
	}

	.slick-disabled{
		display: none !important;
	}

	/* MOBILE Red Progress Bar */
	.slick-dots{
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: block !important;
		float: left;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.slick-dots li{
		float: left;
		display: inline-block;
		width: 20%;
		height: 10px;
	}
	.slick-dots li button{
		width: 100%;
		display: inline-block;
		font-size: 0;
		height: 10px;
		background: #28292F;
		padding: 0;
		margin: 0;
		float: left;
		border: none;
	}
	.slick-dots .slick-active button{
		background: #f06f72;
	}


	/* MOBILE Bike Section */
	/* MOBILE Mobile Image */
	#bike{
		background-image: url(images/mobile/footer-mobile.png);
		background-color: #f9c82c;
		background-size: contain;
		background-position: 100% 100%;
		background-repeat: no-repeat;
		height: 700px;
		margin-bottom: -1px;
		position: relative;
	}
	#belgrade{
		display: none;
	}
	.mail{
		width: 122px;
		margin-top: 0;
		margin-right: 0;
		position: absolute;
		bottom: 66px;
		right: 135px;
		float: left;
		display: block;
		animation: unset;
	}
	.mail img{
		width: 122px !important;
		animation: mymove 5s infinite;
		position: relative;
	}
	/* MOBILE Portfolio Page Adjustments */
	.portfolio{
		height: auto;
	}
  .portfolio .container{
    padding-top: 20px;
    width: 96%;
  }
  .portfolio .container p{

  	display: none;
  }
	.portfolio img{
		max-width: 100%;
	}
  .portfolio-page-description{
    margin: auto;
    padding: 0;
  }
  .portfolio-page-description p{
    float: left;
    width: 90%;
    font-size: 95%;
    padding-top: 10%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  h6{
    padding-top: 12%;
    padding-bottom: 1%;
    margin-top: 4%;
  }
  .portfolio-page-description h2{
    padding-top: 4px;
  }
  .portfolio-page-image-list img{
    padding-bottom: 4%;
  }
  .portfolio-end p{
    padding-top: 40px;
  }
  .portfolio-end {
    height: 160px;
  }
  .folio-overlay:hover {
      opacity: 0.5;
      transition: 1s;
      -webkit-transition: 1s; /* Safari */
      transition-timing-function: ease-out;
      filter: alpha(opacity=50); /* For IE8 and earlier */
  }
/* MOBILE Contact Page Adjustments */
/* MOBILE 404 Page Adjustments */

  #bad-page h1{
  font-size: 300%;
  padding-top: 10%;
  width: 70%;
  }
  #bad-page p{
  padding-top: 37%;
  z-index: 1;
  font-size: 205%;
  float: none;
  margin-top: 145px;
  }
  #bad-page img{
    height: 37%;
    padding-left: 15%;
    padding-top: 0;
    margin-top: 0;
    position: fixed;
    bottom: 0;
  }
/* MOBILE About Page Adjustments */
#about-intro{
  padding: 20px 30px 50px 30px;
  margin-top: -5px;}
#about img {
  width: 100%;
}
/*#about-image{
  display: none;
}*/
}
@media only screen and (min-device-width: 416px) and (max-device-width: 465px) {

	#bike{
		height: 783px;
	}
	.mail{
		bottom: 75px;
	}
}

@media only screen and (min-device-width: 466px) and (max-device-width: 550px) {

	#bike{
		height: 910px;
	}
	.mail{
		bottom: 88px;
	}
}


/* =======================TABLET================================== */

@media only screen and (min-device-width: 551px) and (max-device-width: 1024px) {

	header{
		padding-top: 10px;
		padding-bottom: 0;
	}
	header a{
		font-size: 20px;
	}
  .alert {
      display: block;
  }
#back-to-top{
  margin-top: 0;
  float: right;
  display: block;
  position: relative;
  z-index: 1111;
}
/* not displaying on mobile or tablet???!!!! */

	/* TABLET Welcome Section */
	/* Swapping out the tablet background image and settings it so it will size with the screen*/
	#welcome-page{
		background-image: url(images/tablet/welcome-tablet.png);
		background-color: #f9c82c;
		background-size: contain;
		background-position: 100% 100%;
		height: 682px;
		position: relative;
		margin-bottom: 89px;
	}
	#welcome-page h1{
		margin-top: 20px;
		font-size: 7.6em;
		line-height: 1.2;
    padding-bottom: 1%;
	}
	/* TABLET Adjusting the text to take up the left side of the screen*/
	#welcome-page h3{
		width: 80%;
		margin: 0;
		padding: 0;
		text-align: left;
		line-height: 1.5;
		font-size: 1.5em;
		color: #C2982E;
	}
	#welcome-desktop{
		display: none;
	}
	#welcome-mobile{
		display: inline-block;
	}
	/* TABLET  Hiding the colorstrip on tablet */
	#welcome-page p#colorstrip{
		padding-bottom: 60px;
		position: absolute;
		bottom: -90px;
	}

	/*  TABLET Diving Section */
	/* Swapping out for tablet background image */
	#diving{
		background-image: url(images/tablet/diving-tablet.png);
		background-color: #068078;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		height: 670px;
		margin-bottom: -1px;
	}
	#diving h2{
		font-size: 2em;
	}
	#diving .container{
		width: 100%;
		height: 100%;
	}
	/*Hiding the main fish image and displaying the tablet image*/
	#diving .fishes,
	#diving .bubbles,
	#diving .bubbles-mobile,
	#diving .fishes-mobile{
		display: none;
	}
	#diving .bubbles-tablet{
		display: block;
		margin-top: -48%;
		width: 100%;
		z-index: 1;
		animation: MoveUpDown 2s linear infinite;
		position: relative;
	}
	#diving .fishes-tablet{
		display: block;
		animation: MoveUpDown 4.4s linear infinite;
		position: relative;
		width: 100%;
	}

	/*  TABLET Climbing Section */
	/* Swapping out the climbing background image for a gradient */
	#climbing{
		background: #068078; /* Old browsers */
		background: -moz-linear-gradient(top, #068078 3%, #356fea 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #068078 3%,#356fea 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #068078 3%,#356fea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		height: auto;
	}
	/* Needed a second div for the background images so we could have a gradient and the background separate */
	#climbing .mobile-background{
		background-image: url(images/tablet/climbing-tablet.png);
		background-attachment: unset;
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: contain;
		height: 520px;
	}
	#climbing h2{
		font-size: 2em;
    padding-top: 1%;
    padding-bottom: 0;
	}
	/* Making the quotes smaller and full width */
	#climbing #quotes{
		padding-top: 3%;
		width: 60%;
		font-size: 1.3em;
	}

	/*  TABLET Ski Section */
	/* Swapping out skiing background image with tablet image */
	#skiing{
		background-color: white;
		background-image: url(images/tablet/skiing-tablet.png);
		background-attachment: unset;
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: contain;
		height: 730px;
    padding-top: 0;
	}
	#skiing h2{
		font-size: 2em;
	}
	/* Making adjustments so the slider can be full width */
	#skiing #slider{
		width: 100%;
		margin: 0;
	}

	/*  TABLET Cycle Section */
	#cycle{
		background: #fbcb2c;
		height: auto;
		position: relative;
		padding-bottom: 10px;
		margin-bottom: -1px;
	}
	#cycle h2{
		font-size: 1.8em;
		color: #C2982E;
	}
	/* Hiding the desktop cycle and displaying the tablet one */
	#cycle .work-process{
		display: none;
	}
	#cycle .work-process-mobile{
		display: block;
		width: 40%;
		margin: 0 auto;
		padding-bottom: 25px;
		font-family: helvetica;
	}
	.work-process-mobile img{
		width: 90%;
		margin: 0 auto;
	}

	/*  TABLET Font size adjustments for the slider */
	.work-process-mobile h4,
	.work-process-tablet p{
		text-align: center;
		color: #C2982E;
	}
	.work-process-mobile h4{
		font-size: 2.5em;
		margin: 25px 0 5px 0;
		font-weight: 600;
	}
	.work-process-mobile p{
		font-size: 1.3em;
		margin: 0 0 25px 0;
		color: #C2982E;
    line-height: normal;
	}

	/*  TABLET Styling the next and previous arrows */
	.work-process-mobile .next{
		position: absolute;
		top: 24%;
		right: -65px;
		font-size: 30px;
		z-index: 111;
		background-image: url(images/tablet/arrow-r-tablet.png);
		display: block;
		height: 60px;
		width: 60px;
	}
	.work-process-mobile .prev{
		position: absolute;
		top: 24%;
		left: -65px;
		font-size: 30px;
		z-index: 111;
		background-image: url(images/tablet/arrow-l-tablet.png);
		display: block;
		height: 60px;
		width: 60px;
	}
	.work-process-mobile .next img,
	.work-process-mobile .prev img{
		display: none;
	}

	.slick-disabled,
	.slick-dots{
		display: none !important;
	}


	/*  TABLET Bike Section */
	/* Tablet Image */
	#bike{
		background-image: url(images/tablet/footer-tablet.png);
		background-color: #fbcb2c;
		background-size: contain;
		background-position: 100% 100%;
		background-repeat: no-repeat;
		height: 480px;
		margin-bottom: -1px;
		position: relative;
	}
	#belgrade{
      margin-bottom: 360px;
      width: 35%;
      padding-top: 16px;
	}
	.mail{
		display:none;
	}
	/*  TABLET Portfolio Page Adjustments */
	.portfolio{
		height: auto;
	}
	.portfolio img{
		max-width: 100%;
	}
  .portfolio-page-description div{
    padding-left: 6%;
  }
  .portfolio-page-description-tablet p{
    float: left;
    width: 92%;
    padding-left: 0;
    font-size: 95%;
    padding-right: 0;
    margin: 0;
  }
  .portfolio-end p {
    padding-top: 60px;
    font-weight: 100;
}
.portfolio-end {
  height: 200px;
}
  h6{
  padding-top: 5%;
  margin-bottom: 2%;
  }
	/*  TABLET Contact Page Adjustments */
  /*  TABLET 404 Page Adjustments */

  #bad-page h1{
  font-size: 450%;
  padding-top: 10%;
  width: 70%;
  }
  #bad-page p{
  padding-top: 37%;
  z-index: 1;
  font-size: 270%;
  float: none;
  margin-top: 43px;
  }
  #bad-page img{
    height: 49%;
    right: 5%;
    position: fixed;
    bottom: 0;
  }
  /*  TABLET About Page Adjustments */
  #about-intro{
    padding: 10px 10px 50px 10px;
    margin-top: -5px;}
  #about p{
    padding-left: 4%;
    padding-right:4%;
  }
  #about img {
    width: 100%;
  }
  #about-image{
    display: none;
  }
}


@media only screen and (min-device-width: 850px) and (max-device-width: 1024px) {
	#bike{
		height: 580px;
	}
}

@media only screen and (min-device-width: 1025px) {
	#bike{
		height: 615px;
	}
}

@media only screen and (min-device-width: 1200px) {
	#bike{
		height: 710px;
	}
}

@media only screen and (min-device-width: 1400px) {
	#bike{
		height: 810px;
	}
}

@media only screen and (min-device-width: 1600px) {
	#bike{
		height: 900px;
	}
}

@media only screen and (min-device-width: 1790px) {
	#bike{
		background-size: cover;
	}
}

@media only screen and (min-device-width: 1940px) {
	#bike{
		height: 1150px;
	}
}
